.darkMode_img {    
    border: 5px solid white;
    border-radius: 20%;
    text-shadow: 2px 2px 4px #ffffff;
    margin: 20px;
}

.click-link {
    color: #00FFFF;
}

.click-link:hover {
    text-decoration: underline;
}

.pics {
    margin-top: 10px;
}

